@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
header a:link,
header a:visited {
  color: black;
  text-decoration: none;
}
header {
  font-family: "Rubik", sans-serif;
  background-color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 30px;
  top: 0px;
  z-index: 1;
}
header .header-logo.d-none.d-md-block {
  font-weight: bold;
  font-size: 20px;
  margin-left: 15px;
}
header {
  border-bottom: #f8f8f8 5px solid;
}
header .header-menu {
  color: black;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.header-menu div {
  margin-left: 5px;
}
.home:hover,
.product:hover,
.cart:hover,
.history:hover {
  font-weight: bold;
  border-bottom: 3px solid black;
}
header .header-account {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer {
  display: flex;
  align-items: flex-start;
  padding: 60px;
  font-family: "Rubik", sans-serif;
  background-color: #f8f8f8;
}
footer .footer-profile {
  font-family: "Rubik", sans-serif;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-profile .profile-logo {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.footer-profile .profile-desc {
  width: 200px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 10px;
}
.footer-profile .profile-social {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-bottom: 40px;
}
.profile-social a {
  margin-right: 15px;
}
.footer-profile .profile-copy {
  color: #afb5c0;
}
footer .footer-product {
  flex: 1;
  width: 20%;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
  height: 300px;
  margin-right: 10px;
}
.footer-product div a:link {
  color: #4f5665;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 7px;
  text-decoration: none;
}
@media (max-width: 650px) {
  .header-menu div {
    font-size: 15px;
  }
  footer .footer-profile {
    width: 200px;
  }
  footer .profile-desc {
    font-size: 111px;
    line-height: 10px;
    width: 50px;
    padding: 5px;
  }
}
@media (max-width: 420px) {
  .header-menu div {
    font-size: 10px;
  }
  .footer-profile {
    margin-left: -30px;
    height: 200px;
  }
  .footer-profile .profile-logo {
    font-size: 12px;
  }
  .footer-profile .profile-desc {
    font-size: 11px;
    line-height: 10px;
    width: 100px;
  }
  footer .footer-product {
    position: relative;
    font-size: 15px;
    line-height: 20px;
    margin-left: 10px;
    left: 50px;
  }
  .profile-copy {
    font-size: 10px;
  }
  .footer-product div a:link {
    font-size: 10px;
    line-height: 20px;
  }
  .footer-profile .profile-social img {
    width: 20px;
  }
}
/* ==========================================batas style header dan footer================================================== */
main .flex-container {
  display: flex;
  margin-top: 150px;
}
main .flex-container .kiri {
  flex: 3;
}
.kiri .top {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  padding: 7%;
}
/* .kiri .mid {
  height: 600px;
} */
.kiri .mid img#cold {
  width: 70%;
  height: auto;
  margin-left: 10%;
}
.mid img#chat {
  position: relative;
  right: 12%;
  background-color: white;
  border-radius: 50%;
  border: orange 4px solid;
  padding: 2px;
}
.kiri .bot {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  padding: 7%;
  letter-spacing: 0.02em;
  width: 80%;
}
main .flex-container .kanan {
  flex: 5;
}
.kanan .line1 {
  display: flex;
  justify-content: start;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
.line1 img {
  background-color: #6a4029;
  border: #6a4029 solid 6px;
  border-radius: 100%;
  width: 40px;
}
.line1 .payment {
  font-weight: bold;
}
.line1 .garis1 {
  position: relative;
  border-top: gray solid 3px;
  width: 120px;
  top: 20px;
  margin-left: 10px;
}
.line1 .garis2 {
  position: relative;
  border-top: gray solid 3px;
  width: 120px;
  top: 20px;
}
.line2 {
  display: flex;
  flex-direction: column;
}
.line2 .atas {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 65px;
  line-height: 97px;
}
.line2 .bawah {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 97px;
}
.line3 {
  margin-left: 0px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 138.84%;
  letter-spacing: 0.03em;
  margin-right: 10%;
}
.line4 {
  width: 50%;
  margin-top: 40px;
}
.line4 form {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: #9f9f9f;
}
.line4 form input {
  height: 80%;
}
.line4 form button {
  width: 100%;
  color: black;
  background-color: #ffba33;
  border-color: black;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  height: 80%;
  text-align: center;
}
.line4 form .bot a,
.line4 form .bot a:visited {
  width: 100%;
  color: white;
  background-color: #6a4029;
  border-color: black;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  height: 80%;
  text-align: center;
}
.line4 form .bot button:hover {
  background-color: blue;
}

/* =================================== media query ============================================================= */
@media (max-width: 1150px) {
  .mid img#chat {
    border: orange 3px solid;
    width: 30px;
  }
  .kiri .bot {
    font-size: 18px;
  }
  .kanan .line1 {
    font-size: 12px;
    margin-top: 10px;
  }
  .line1 img {
    border-radius: 50%;
    width: 20px;
    border-width: 2px;
  }
  .line1 .garis1 {
    width: 50px;
  }
  .line1 .garis2 {
    width: 50px;
  }
  .line2 .atas {
    font-size: 50px;
    line-height: 55px;
  }
  .line2 .bawah {
    font-size: 35px;
    line-height: 50px;
  }
  .line3 {
    font-size: 20px;
    line-height: 138.84%;
  }
  .line4 form {
    font-size: 13px;
  }
  .line4 form input {
    font-size: 13px;
  }
  .line4 form button,
  .line4 form .bot a {
    font-size: 13px;
    line-height: auto;
  }
}
@media (max-width: 750px) {
  .mid img#chat {
    border: orange 3px solid;
    width: 20px;
  }
  .kiri .bot {
    font-size: 12px;
  }
  .kiri .top {
    font-size: 13px;
  }
  .kanan .line1 div p {
    position: relative;
    font-size: 8px;
    top: -10px;
  }
  .line1 img {
    border-radius: 50%;
    width: 15px;
    border-width: 2px;
  }
  .line1 .garis1 {
    width: 20px;
  }
  .line1 .garis2 {
    width: 20px;
  }
  .line2 .atas {
    font-size: 30px;
    line-height: 15px;
  }
  .line2 .bawah {
    font-size: 20px;
    line-height: 10px;
  }
  .line3 {
    font-size: 15px;
    line-height: 138.84%;
  }
  .line4 {
    margin-top: 10px;
  }
  .line4 form {
    font-size: 8px;
  }
  .line4 form input::placeholder {
    font-size: 7px;
  }
  .btn.btn-primary {
    font-size: 8px;
  }
}
@media (max-width: 420px) {
  main .flex-container {
    flex-direction: column;
  }
  .kanan {
    margin-left: 10%;
  }
  .kiri {
    margin-left: 5%;
  }
  .kiri .mid img#cold {
    width: 50%;
  }
  .kiri .bot {
    border-bottom: gray 5px solid;
  }
  .mid img#chat {
    right: 9%;
    border: orange 2px solid;
  }
  .line4 form {
    font-size: 8px;
  }
  .line4 form input {
    font-size: 8px;
  }
  .line4 form button,
  .line4 form bot a {
    font-size: 8px;
    line-height: auto;
  }
}
