header a:link,
header a:visited {
  color: black;
  text-decoration: none;
}
.flex-container {
  box-sizing: border-box;
}
.flex-container header {
  font-family: "Rubik", sans-serif;
  background-color: white;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
header .header-logo.d-none.d-md-block {
  font-weight: bold;
  font-size: 20px;
  margin-left: 15px;
}
header .header-menu {
  color: black;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.header-menu div {
  margin-left: 5px;
}
.home:hover,
.product:hover,
.cart:hover,
.history:hover {
  font-weight: bold;
  border-bottom: 3px solid black;
}
header .header-account {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer {
  display: flex;
  align-items: flex-start;
  padding: 60px;
  font-family: "Rubik", sans-serif;
  background-color: #f8f8f8;
}
footer .footer-profile {
  font-family: "Rubik", sans-serif;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-profile .profile-logo {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.footer-profile .profile-desc {
  width: 200px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 10px;
}
.footer-profile .profile-social {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-bottom: 40px;
}
.profile-social a {
  margin-right: 15px;
}
.footer-profile .profile-copy {
  color: #afb5c0;
}
footer .footer-product {
  flex: 1;
  width: 20%;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
  height: 300px;
  margin-right: 10px;
}
.footer-product div a:link {
  color: #4f5665;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 7px;
  text-decoration: none;
}
/* =========================batas style header dan footer================================================== */
main {
  border-top: #f8f8f8 solid 5px;
  height: 1000px;
}
/* =============================== main promo ============================================================ */
.main-promo {
  border-right: #f8f8f8 solid 5px;
  height: 1005px;
  background-color: white;
}
.line1 {
  text-align: center;
  color: #6a4029;
  margin-top: 30px;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}
.line2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  padding: 20px;
}
.line2 li {
  list-style-type: none;
}
.line3 .flex-container {
  background-color: white;
  height: 500px;
  display: flex;
}
.rec1 {
  position: absolute;
  height: 472px;
  width: 284px;
  left: 100px;
  background-color: #ffcb65;
  border-radius: 15px;
}
.rec1 .top {
  height: 320px;
  border-bottom: black dashed 2px;
}
.top .one {
  margin-top: 50px;
  margin-left: 75px;
  border-radius: 50%;
}
.top .two {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
}
.top .three {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}
.rec1 .bottom {
  height: 150px;
}
.bottom .one {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
}
.bottom .two {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  text-align: center;
}
.bottom .three {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 101.34%;
  text-align: center;
}
.rec2 {
  position: absolute;
  width: 284px;
  height: 400px;
  background-color: black;
  margin-top: 40px;
  left: 130px;
  border-radius: 15px;
}
.rec3 {
  position: absolute;
  background-color: #895537;
  width: 284px;
  height: 338px;
  margin-top: 70px;
  left: 160px;
  border-radius: 15px;
}
.line4 {
  width: 284px;
  height: 64px;
  margin-left: 87px;
  top: 840px;
  background: #6a4029;
  border-radius: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 25px;
  color: white;
}
.line5 {
  margin-top: 120px;
  margin-left: 20px;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}
.line5 li {
  list-style-type: none;
  font-weight: normal;
  margin-top: 10px;
}
/* =============================== main product =============================== */
.main-product {
  background-color: white;
  overflow: auto;
}
.main-product .top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  padding: 20px;
  margin-top: 20px;
}
.main-product .top div {
  margin-left: 5px;
}
.main-product .top a:link,
.main-product .top a:visited {
  color: #9f9f9f;
  text-decoration: none;
}
.main-product .top a:hover {
  color: black;
}
.fav:hover,
.cof:hover,
.noncof:hover,
.fav:hover,
.food:hover,
.addon:hover {
  font-weight: bold;
  border-bottom: 3px solid black;
}
.mid .flex-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}
.mid div a:link {
  color: black;
  text-decoration: none;
}
.mid div a:hover {
  color: black;
  text-shadow: 1px 1px 10px #ffba33;
}
.mid div div {
  width: 156px;
  height: 212.41px;
  margin-left: 50px;
  margin-top: 60px;
  text-align: center;
  border-radius: 15px;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mid div div img {
  position: relative;
  left: 0;
  top: -50px;
  width: 140px;
  height: 140px;
}
.mid div div .name {
  position: relative;
  top: -50px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
}
.mid div div .price {
  position: relative;
  top: -50px;
  font-family: Poppins;
  font-style: normal;
  font-size: 17px;
}
.flex-container .discount {
  position: relative;
  bottom: 260px;
  left: 120px;
  width: 60px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 37px;
  border-radius: 17px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bot {
  margin-top: 20px;
}
/*================================== media query ============================================================*/

@media (max-width: 1300px) {
  .line1 {
    text-align: left;
    margin-left: 20px;
  }
  .line2 {
    text-align: left;
  }
  .line3 .flex-container {
    height: 500px;
  }
  .rec1 {
    height: 472px;
    width: 150px;
    left: 50px;
  }
  .top .one {
    margin-top: 50px;
    margin-left: 10px;
  }
  .top .two {
    font-size: 17px;
  }
  .top .three {
    font-size: 10px;
  }
  .rec1 .bottom {
    height: 150px;
  }
  .bottom .one {
    font-size: 10px;
  }
  .bottom .two {
    font-size: 20px;
  }
  .bottom .three {
    font-size: 9px;
  }
  .rec2 {
    height: 0px;
  }
  .rec3 {
    height: 0px;
  }
  .line4 {
    width: 100px;
    height: 64px;
    margin-left: 50px;
    font-size: 10;
    line-height: 20px;
  }
  .line5 {
    margin-top: 60px;
    margin-left: 10px;
    font-size: 10px;
    line-height: 14px;
  }
  .mid .flex-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .mid div div {
    width: 105px;
    height: 150.41px;
  }
  .mid div div img {
    width: 70px;
    height: 70px;
    top: -30px;
  }
  .mid div div .name {
    font-size: 17px;
    top: -20px;
  }
  .mid div div .price {
    font-size: 12px;
    top: -30px;
  }
  .flex-container .discount {
    bottom: 175px;
    left: 65px;
    width: 50px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 780px) {
  .mid .flex-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .mid div div {
    width: 70px;
    height: 80.41px;
  }
  .mid div div img {
    width: 50px;
    height: 50px;
    top: -30px;
  }
  .mid div div .name {
    font-size: 12px;
    top: -30px;
  }
  .mid div div .price {
    font-size: 9px;
    top: -40px;
  }
  .bot {
    margin-top: 10px;
    font-size: 10px;
  }
  .flex-container .discount {
    bottom: 145px;
    left: 45px;
    width: 30px;
    font-size: 15px;
    line-height: 20px;
  }
}
@media (max-width: 650px) {
  .rec1 {
    width: 130px;
    left: 18px;
  }
  .one img {
    width: 90px;
    margin-left: 10px;
  }
  .line4 {
    margin-left: 0px;
  }
  footer .footer-profile {
    width: 200px;
  }
  footer .profile-desc {
    font-size: 111px;
    line-height: 10px;
    width: 50px;
    padding: 5px;
  }
}
/* ======================================== for phone media ============================================== */
@media (max-width: 420px) {
  .line1 {
    text-align: center;
    margin-left: 0px;
    font-size: 15px;
    background-color: lightyellow;
    border-radius: 17px;
  }
  .line2 {
    text-align: center;
    font-size: 5px;
    margin-left: -15px;
    width: 120px;
  }
  .line2 li {
    margin: 0 0 0 0;
  }
  .line3 .flex-container {
    height: 200px;
  }
  .rec1 {
    height: 302px;
    width: 100px;
    left: 5px;
  }
  .rec1 .top {
    height: 190px;
  }
  .top .one img {
    margin-top: 0px;
    margin-left: 10px;
    width: 60px;
  }
  .top .two {
    font-size: 10px;
  }
  .top .three {
    font-size: 6px;
  }
  .rec1 .bottom {
    height: 50px;
  }
  .bottom .one {
    font-size: 8px;
  }
  .bottom .two {
    font-size: 10px;
  }
  .bottom .three {
    font-size: 5px;
    margin-left: 0px;
  }
  .rec2 {
    height: 0px;
  }
  .rec3 {
    height: 0px;
  }
  .line4 {
    width: 50px;
    height: 34px;
    margin-left: 10px;
    margin-top: 110px;
    font-size: 10;
    line-height: 10px;
    font-size: 10px;
  }
  .line5 {
    margin-top: 60px;
    margin-left: 10px;
    font-size: 10px;
    line-height: 14px;
  }
  .top div {
    font-size: 10px;
  }
  .mid .flex-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .mid div div {
    width: 50px;
    height: 70.41px;
  }
  .mid div div img {
    width: 40px;
    height: 40px;
    top: -15px;
  }
  .mid div div .name {
    font-size: 8px;
    top: -15px;
  }
  .mid div div .price {
    font-size: 5px;
    top: -30px;
  }
  .flex-container .discount {
    bottom: 110px;
    left: -20px;
    width: 30px;
    font-size: 7px;
    line-height: 30px;
  }
  /* ======================================== MEDIA UNTUK FOOTER ====================================== */

  .header-menu div {
    font-size: 10px;
  }
  .footer-profile {
    margin-left: -30px;
    height: 200px;
  }
  .footer-profile .profile-logo {
    font-size: 12px;
  }
  .footer-profile .profile-desc {
    font-size: 11px;
    line-height: 10px;
    width: 100px;
  }
  footer .footer-product {
    position: relative;
    font-size: 15px;
    line-height: 20px;
    margin-left: 10px;
    left: 50px;
  }
  .profile-copy {
    font-size: 10px;
  }
  .footer-product div a:link {
    font-size: 10px;
    line-height: 20px;
  }
  .footer-profile .profile-social img {
    width: 20px;
  }
}
